.hButn {
  border-radius: 4px;
  background-color: #558C89;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.hButn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.hButn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.hButn:hover span {
  padding-right: 25px;
}
.hButn:hover {
  background-color: #D9853B;
}
.hButn:hover span:after {
  opacity: 1;
  right: 0;
}
button.selected{
  color:whitesmoke;
  background-color: #D9853B;
}
.headerZone {
  display:flex;
  justify-content:space-around;
  background-color: #74AFAD;
  width:98%;
    border-radius: 4px;
    border-width: 1px;
    position: inherit;
    top:50%;
    left: 50%;
    margin: auto;
}
.headerZone button {
  width: 100%;
  margin: 5px; /* or whatever */
}
/*
#558C89     Dark Blue
#74AFAD     Blue
#D9853B     Orange
#ECECEA     Gray
*/
.screenHeader{
}

/*hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: lightgrey; 
  border-width: 3px 0 0 0; 
  border-radius: 10px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b;
  border-width: 0 0 1px 0; 
  border-radius: 10px; 
}
*/
hr.light { border-color:#F05F40;max-width:50px;margin:30px auto; border-width:3px ;
border-bottom: 1px solid lightslategray;
} 

hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

.detailPage {
  display:inline-flex;
  justify-content:space-around;
}
.detailPage button {
  width: 100%;
  margin: 5px; /* or whatever */
  font-weight: bold;
  background: ECECEA;
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 16%, rgba(41,184,229,1) 63%, rgba(188,224,238,1) 91%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(16%, rgba(179,220,237,1)), color-stop(63%, rgba(41,184,229,1)), color-stop(91%, rgba(188,224,238,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 16%, rgba(41,184,229,1) 63%, rgba(188,224,238,1) 91%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 16%, rgba(41,184,229,1) 63%, rgba(188,224,238,1) 91%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 16%, rgba(41,184,229,1) 63%, rgba(188,224,238,1) 91%, rgba(188,224,238,1) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(179,220,237,1) 16%, rgba(41,184,229,1) 63%, rgba(188,224,238,1) 91%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
}
button.detSelected{
    color:grey;
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 52%, rgba(193,191,234,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(42%, rgba(216,208,239,1)), color-stop(52%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
    background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 52%, rgba(193,191,234,1) 100%);
    background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 52%, rgba(193,191,234,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 52%, rgba(193,191,234,1) 100%);
    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 42%, rgba(206,199,236,1) 52%, rgba(193,191,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}
.mainDetDiv{
    
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 38%, rgba(219,219,219,1) 50%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(38%, rgba(209,209,209,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 38%, rgba(219,219,219,1) 50%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 38%, rgba(219,219,219,1) 50%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 38%, rgba(219,219,219,1) 50%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 38%, rgba(219,219,219,1) 50%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
    
    width:98%;
    border-radius: 4px;
    border-width: 1px;
    position: inherit;
    top:50%;
    left: 50%;
    margin: auto;
}

.headerZone1 {
  display:flex;
  align-items: center;
  justify-content:space-around;
  background-color: #74AFAD;
  width:98%;
    border-radius: 4px;
    border-width: 1px;
    position: inherit;
    top:50%;
    left: 50%;
    margin: auto;
    height: 40px;
}

.headerZone2 {
  display:flex;
  justify-content:space-around;
  background-color: inherit;
  width:90%;
    border-radius: 4px;
    border-width: 1px;
    position: inherit;
    top:50%;
    left: 50%;
    margin: auto;
    height: 40px;
}

.dateInp{
    padding-left: 30px;
    padding-right: 30px;
    background: #558C89;
    border-radius: 4px;
    border-width: 1px;
    position: inherit;
    top:50%;
    left: 50%;
    margin: auto;
    height:80%;
    font-size: 15px;
}
input {
    border:none;
}

.lbl{
    padding-right:20px;
    font-size: 25px;
    color: #F05F40; 
}

.selectedNode {
  display:flex;
  justify-content:space-around;
  width:100%;
    border-radius: 4px;
    border-width: 1px;
    position: inherit;
    top:50%;
    left: 50%;
    margin: auto;
}